# 19.3.2023 11:51
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
idna = "*"
urllib3 = "*"
boto3 = "*"

[dev-packages]
numpy = "*"

[requires]
python_version = "3.10"












